<div class="container-fluid">
  <div class="row navRow d-flex justify-content-center">

    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
      <h6>
        <a class="navFooter" href="#">Ayuda</a>
      </h6>
    </div>

    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
      <h6>
        <a class="navFooter" href="#">Contacto</a>
      </h6>
    </div>

    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
      <h6>
        <a class="navFooter" href="#">Términos y condiciones</a>
      </h6>
    </div>

    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
      <h6>
        <a class="navFooter" href="#">Políticas de Privacidad</a>
      </h6>
    </div>


  </div>
</div>