<div class="container">
    <div class="row">

        <!-- Barra lateral -->

        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 containerFiltro">

            <h4>Zapatillas</h4>
            <hr>

            <h5>Filtrar</h5>

            <div class="listado">

                <ul class="listaCategoria">

                    <li>Categoría</li>

                    <ul class="listaSubcategoria">
                        <li>Zapatillas</li>
                        <li>Zapatos</li>
                        <li>Botas</li>
                        <li>Sandalias</li>
                        <li>Pantuflas</li>
                    </ul>

                    <li>Talle</li>

                    <ul class="listaSubcategoria">
                        <li>36</li>
                        <li>38</li>
                        <li>40</li>
                        <li>42</li>
                        <li>44</li>
                    </ul>

                    <li>Color</li>

                    <ul class="listaSubcategoria">
                        <li>Amarillo</li>
                        <li>Negro</li>
                        <li>Verde</li>
                        <li>Azul</li>
                        <li>Blanco</li>
                    </ul>

                </ul>

            </div>

        </div>

        <!-- Productos -->

        <% for (item of menu) { %>

        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12 containerVenta">

            <div class="containerProductos">
                <div class="row">

                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">

                        <div class="card" style="width:100%;">
                            <img class="card-img-top" src="../images/zapatilla_1.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h6 class="card-title">Zapatilla 1-XFK</h6>
                                <p class="card-text">$5.000</p>

                            </div>
                        </div>

                    </div>

                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">

                        <div class="card" style="width:100%;">
                            <img class="card-img-top" src="../images/zapatilla_1.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h6 class="card-title">Zapatilla 1-XFK</h6>
                                <p class="card-text">$5.000</p>

                            </div>
                        </div>

                    </div>

                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">

                        <div class="card" style="width:100%;">
                            <img class="card-img-top" src="../images/zapatilla_1.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h6 class="card-title">Zapatilla 1-XFK</h6>
                                <p class="card-text">$5.000</p>

                            </div>
                        </div>

                    </div>


                </div>

            </div>
        </div>

    </div>

</div>