<div class="container-fluid">
  <div class="row navRow">

    <!-- Topbar -->

    <div class="col p-0 m-0 col-xl-4 col-lg-4 col-md-4 px-0 pb-0 pr-1 mr-0 pt-3 pt-sm-1 pt-md-1 pt-lg-1 pt-xl-1">
      <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <img src="./images/bars-solid.svg" alt="" width="27px" height="25px">
      </button>
    </div>
  
    <div class="col p-0 m-0 col-xl-4 col-lg-4 col-md-4 colLogo">

      <img class="logo w-auto" src="./images/logo.svg" alt="" width="665.1px" height="96.2px">

    </div>

    <div class="col px-0 pb-0 pr-1 mr-0 pt-3 pt-sm-1 pt-md-1 pt-lg-1 pt-xl-1 col-xl-4 col-lg-4 col-md-4 iconosTopbar">

      <a href="#">
        <img class="icons" src="./images/search-solid.svg" alt="" width="26px" height="23px">

      </a>

      <a href="#">
        <img class="icons" src="./images/user-solid.svg" alt="" width="26px" height="23px">
      </a>

      <a href="#">
        <img class="icon" src="./images/shopping-cart-solid.svg" alt="" width="26px" height="23px">

      </a>

    </div>

  </div>
</div>