* {
  font-family: 'Roboto', sans-serif;
  font-size: 12px; 
  }

  .container-fluid, .row {
    margin: 0;
    padding: 0;
  }

  /* Topbar */

  .colLogo {
    display: flex;
    justify-content: center;
  }

  .logo {
    max-height: 30px;
  }

  .iconosTopbar {
    display: flex;
    justify-content: flex-end;
  }

.navRow {
  padding: 1%;
  background-color: #000000;
  color:white;
  text-align: center;
}

.icons, .icon {
  margin-left:10px;
  height:25px;
}

@media only screen and (max-width: 600px) {
  .logo {
    margin-top: 15px;
    height: 50%;
  }

  .icons {
   display: none;
  }

 }

/* Nav */

.navbar-toggler {
  color: white;
}

.bg-color{
  background-color: #000000;
}

.centrado {
  margin:Auto;
}

.nav-link {
  color:white;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 300;
}

.active {
  font-weight: 500;
}

.nav-item {
padding: 0 60px;
}

.nav-link:hover, .nav-link:visited {
  color:white;
}

/* Footer */

.navFooter, .navFooter:hover, .navFooter:active, .navFooter:visited { 
  color:white;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 300;
}

@media only screen and (max-width: 600px) {
  .navRow { 
   padding: 5% 0;
  }
 }

/*Section*/

.greyColor, .card-body {
  background-color: #FAFAFA;
}

@media only screen and (max-width: 600px) {
 .card-body {
    background-color:white;
  }
 }

/*Barra lateral*/

hr {
  border: none;
  height: 1px;
  background-color:#000000; /* Modern Browsers */
}

.containerFiltro {
  padding: 4% 0;
}

.listado {
 margin-left: 3%;
}

.listaCategoria {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.listaSubcategoria {
  list-style-type: none;
  margin: 0;
  padding: 5px 15px;

}

.listaCategoria > li{
  background-color: #E4E8EE;
  font-weight: 500;
  padding: 5px 15px;
  font-size: 1.1em;
}

.listaSubcategoria > li{
  font-size: 1.1em;
}

@media only screen and (max-width: 600px) {
 .containerFiltro {
  display: none;
 }
}

/*Caja Productos*/

.containerVenta {
    margin: 4% 0;
}

.card-img-top {
  border-bottom: 1.5px solid #030B1C;
}

.card-title {
  font-size: 1.1em;
  font-weight: 420;
}

.card-text {
  font-size: 1.1em;
  font-weight: 600;
}

#header {
  /* border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #888888; */
}